.pre-scrollable {
    max-height: none !important;
    height: 70vh;
    margin-top: 30px;
    
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.reload {
    padding-bottom: 4px !important;
    padding-top: 3px !important;
    margin-bottom: 11px !important;
}

#game {
    font-family: "Courier New", Courier, monospace;
}

.gameText
{
    background: white;
    color: black;
    font-family: monospace;
}

#log
{
    color: #555;
    max-width: 960px;
}

#log:after
{
    content: ' ';
    display: block;
}

#log b
{
    color: #000;
}

.textarea
{
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 50px;
    height: 50px;
    left: 8px;
    max-width: 960px;
    position: fixed;
    right: 20px;
}
#lts
{
    font-size: 14pt;
}
#textbox
{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: black;
    font-family: monospace;
    font-size: 16px;
    margin-left: 5px;
    width: 95%;
}

.line
{
    white-space: pre-line;
}
@media screen and (min-width: 910px)
{
    #log, #restart
    {
        margin-left: 100px !important;
        margin-right: 192px !important;
    }
    .textarea
    {
        margin-left: 192px !important;
    }
}
@media screen and (max-width: 500px)
{
    #lts
    {
        display: none;
    }
}

.restart {
    box-shadow: 0px 1px 0px 0px #FFF inset;
    background: #F9F9F9 linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%) repeat scroll 0% 0%;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    display: inline-block;
    cursor: pointer;
    color: #666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFF;
}
